Hi!

In order to access the infrastructure on the VPC you need to
setup Pritunl VPN.

Attached to this email there is a .zip file that contains the
certificates and the configuration file.

If you are running on Desktop / Notebook you need to install
pritunl (you can download it from https://client.pritunl.com) 
before, opening the openvpn file and pritunl will do the rest.

For mobile devices you can use OpenVPN Client:
    iOS: https://itunes.apple.com/us/app/openvpn-connect/id590379981
    Android: https://play.google.com/store/apps/details?id=net.openvpn.openvpn

If you need any help setting it up, you can contact the
IT team

* Via e-mail: it@mycompany.com
* Via Slack: #it-team


Cheers!
